USE [master]
GO
/****** Object:  Database [SistemaTicketsReportes]    Script Date: 15/06/2026 15:16:37 ******/
CREATE DATABASE [SistemaTicketsReportes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaTicketsReportes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaTicketsReportes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaTicketsReportes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaTicketsReportes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaTicketsReportes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaTicketsReportes]
GO
/****** Object:  Table [dbo].[Responses]    Script Date: 15/06/2026 15:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responses](
	[ResponseId] [uniqueidentifier] NOT NULL,
	[TicketId] [uniqueidentifier] NOT NULL,
	[ResponderId] [uniqueidentifier] NOT NULL,
	[Message] [varchar](500) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 15/06/2026 15:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [uniqueidentifier] NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 15/06/2026 15:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ClosedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 15/06/2026 15:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[AssignedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/06/2026 15:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Responses] ([ResponseId], [TicketId], [ResponderId], [Message], [CreatedAt]) VALUES (N'20000000-0000-0000-0000-000000000001', N'10000000-0000-0000-0000-000000000001', N'bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb', N'Estamos revisando el problema.', CAST(N'2026-06-08T15:56:19.350' AS DateTime))
INSERT [dbo].[Responses] ([ResponseId], [TicketId], [ResponderId], [Message], [CreatedAt]) VALUES (N'20000000-0000-0000-0000-000000000002', N'10000000-0000-0000-0000-000000000002', N'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', N'Pago validado correctamente.', CAST(N'2026-06-08T15:56:19.350' AS DateTime))
INSERT [dbo].[Responses] ([ResponseId], [TicketId], [ResponderId], [Message], [CreatedAt]) VALUES (N'20000000-0000-0000-0000-000000000003', N'10000000-0000-0000-0000-000000000003', N'bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb', N'Incidencia resuelta.', CAST(N'2026-06-08T15:56:19.350' AS DateTime))
GO
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (N'11111111-1111-1111-1111-111111111111', N'Administrador')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (N'22222222-2222-2222-2222-222222222222', N'Soporte')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (N'33333333-3333-3333-3333-333333333333', N'Cliente')
GO
INSERT [dbo].[Tickets] ([TicketId], [UserId], [Title], [Description], [Status], [CreatedAt], [ClosedAt]) VALUES (N'10000000-0000-0000-0000-000000000001', N'cccccccc-cccc-cccc-cccc-cccccccccccc', N'Error de acceso', N'No puedo iniciar sesion', N'Abierto', CAST(N'2026-06-08T15:56:19.340' AS DateTime), NULL)
INSERT [dbo].[Tickets] ([TicketId], [UserId], [Title], [Description], [Status], [CreatedAt], [ClosedAt]) VALUES (N'10000000-0000-0000-0000-000000000002', N'dddddddd-dddd-dddd-dddd-dddddddddddd', N'Problema de pago', N'No aparece mi comprobante', N'En Proceso', CAST(N'2026-06-08T15:56:19.340' AS DateTime), NULL)
INSERT [dbo].[Tickets] ([TicketId], [UserId], [Title], [Description], [Status], [CreatedAt], [ClosedAt]) VALUES (N'10000000-0000-0000-0000-000000000003', N'eeeeeeee-eeee-eeee-eeee-eeeeeeeeeeee', N'Error en plataforma', N'La web se congela', N'Cerrado', CAST(N'2026-06-08T15:56:19.340' AS DateTime), CAST(N'2026-06-08T15:56:19.340' AS DateTime))
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId], [AssignedAt]) VALUES (N'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', N'11111111-1111-1111-1111-111111111111', CAST(N'2026-06-08T15:56:19.330' AS DateTime))
INSERT [dbo].[UserRoles] ([UserId], [RoleId], [AssignedAt]) VALUES (N'bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb', N'22222222-2222-2222-2222-222222222222', CAST(N'2026-06-08T15:56:19.330' AS DateTime))
INSERT [dbo].[UserRoles] ([UserId], [RoleId], [AssignedAt]) VALUES (N'cccccccc-cccc-cccc-cccc-cccccccccccc', N'33333333-3333-3333-3333-333333333333', CAST(N'2026-06-08T15:56:19.330' AS DateTime))
GO
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Email], [CreatedAt]) VALUES (N'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', N'admin', N'HASH_ADMIN', N'[admin@sistema.com](mailto:admin@sistema.com)', CAST(N'2026-06-08T15:56:19.317' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Email], [CreatedAt]) VALUES (N'bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb', N'soporte01', N'HASH_SOPORTE', N'[soporte@sistema.com](mailto:soporte@sistema.com)', CAST(N'2026-06-08T15:56:19.317' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Email], [CreatedAt]) VALUES (N'cccccccc-cccc-cccc-cccc-cccccccccccc', N'juanperez', N'HASH_JUAN', N'[juan@email.com](mailto:juan@email.com)', CAST(N'2026-06-08T15:56:19.317' AS DateTime))
GO
ALTER TABLE [dbo].[Responses]  WITH CHECK ADD  CONSTRAINT [FK_Responses_Ticket] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
GO
ALTER TABLE [dbo].[Responses] CHECK CONSTRAINT [FK_Responses_Ticket]
GO
ALTER TABLE [dbo].[Responses]  WITH CHECK ADD  CONSTRAINT [FK_Responses_User] FOREIGN KEY([ResponderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Responses] CHECK CONSTRAINT [FK_Responses_User]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_User]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Role]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_User]
GO
USE [master]
GO
